app-repository-list {
    display: inline-block;
    flex-grow: 1;
    padding: 15px;
    border-right: 1px solid #dadada;
    height: 100vh;
    background-color: white;
}

app-repository-detail {
    display: inline-block;
    flex-grow: 9;
    padding: 15px;
}

.container {
    display: flex;
}
