<div *ngIf="job">
    <svg width="100%" height="100" attr.viewBox="{{0}} 0 300 100" >
        <!--Render the first Stage-->
        <g attr.transform="translate({{-stageSpacing}}, 50) rotate(0)" class="default-stage">
            <line x1="0" y1="0" attr.x2="{{stageSpacing}}" y2="0" />
            <text x="0" y="35" text-anchor="middle" >Start</text>
            <circle cx="0" cy="0" r="10" />
        </g>

        <!-- Render each Stage -->
        <g *ngFor="let item of stages; let i = index" attr.transform="translate({{stageSpacing*i}}, 50) rotate(0)">
            <line x1="0" y1="0" attr.x2="{{stageSpacing}}" y2="0" />
            <text x="0" y="35" text-anchor="middle" >{{item.ID}}</text>
            <circle cx="0" cy="0" r="20" class="stage" [class.error]="item.State == 2" [class.running]="item.State == 0" />
            <g *ngIf="item.State == 0" transform="scale(0.3 0.3) translate(-49 -49)">
                <g>
                    <path d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843" fill="none" stroke="#5a5a5a" stroke-width="12"></path>
                    <path d="M49 3L49 27L61 15L49 3" fill="#5a5a5a"></path>
                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                </g>
            </g>
        </g>

        <g attr.transform="translate({{stageSpacing * stages.length}}, 50) rotate(0)" class="default-stage">
            <text x="0" y="35" text-anchor="middle" >End</text>
            <circle cx="0" cy="0" r="10" />
        </g>
    </svg>

    <ul class="stages">
        <li *ngFor="let stage of stages" [ngClass]="{ 'error': stage.State == 2 }">
            <a class="stage" id="{{stage.ID}}" (click)="onExpand(stage.ID)">
                <mat-icon *ngIf="stagesExpansion[stage.ID]">expand_less</mat-icon>
                <mat-icon *ngIf="!stagesExpansion[stage.ID]">expand_more</mat-icon>
                stage '{{stage.ID}}'
                <span class="duration">
                    <mat-icon>timelapse</mat-icon>
                    {{duration(stage)}}
                </span>
            </a>

            <ul class="logs" *ngIf="stagesExpansion[stage.ID]">
                <li *ngFor="let log of stage?.Logs; index as i;">
                    <span *ngFor="let span of parse(log?.Message)" [style]="span.css">{{span.text}}</span>
                </li>
            </ul>

            <ul class="containers tree" *ngIf="stagesExpansion[stage.ID]">
                <li *ngFor="let container of stage.Containers; index as i;">
                    {{getContainerTitle(container)}}

                    <ul class="container-logs">
                        <li *ngFor="let containerLog of container.Logs; index as i;">
                            <span *ngFor="let span of parse(containerLog.Message)" [attr.style]="getStyle(span.css)" >{{span.text}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
